/* contract modal */

.contract-modal {
  display: flex;
  flex-direction: column;
}

.contract-modal__header {
  display: flex;
  justify-content: center;
  background-color: #E0E0E0;
  border-radius: 38px 38px 0 0;
  padding: 3vh;
  width: 100%;
}

.contract-modal__body {
  width: 85%;
  margin: auto;
}

.contract-modal__footer {
  display: flex;
  justify-content: center;
  background-color: #E0E0E0;
  border-radius: 0 0 38px 38px;
  padding: 3vh;
  width: 100%;
}

.contract-modal__list li {
  font-size: 0.8rem;
  padding: 1vh 0;
}