.dashboard form {
  width: 90%;
  height: 90%;
}

.file-name {
  font-size: 0.5rem;
}

.drag-msg {
  color: grey;
  font-size: 0.8rem;
}

.file-size {
  /* align-self: flex-start; */
  font-size: 0.6rem;
}