/* authentetication */

.auth {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.auth form {
  padding: 1rem;;
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  border-radius: 30px;
}

.form-input {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input input {
  width: 100%;
  padding: 0.4rem;
  font-weight: 600;
}

.form-input label {
  font-size: 0.7rem;
  align-self: start;
  padding-bottom: 0.4rem;
}

form button {
  padding: 0.6rem;
  width: 80%;
  border-radius: 38px;
  border: none;
  color: #000;
  font-weight: 600;
}

form button:hover {
  cursor: pointer;
}

.auth h1 {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .auth {
    height: 80%;
    width: 100%;
  }

  .form-container { 
    width: 80%;
  }

  .form-container form {
    width: 100%;
  }

  .form-container .container .drop input {
    width: 40%;
  }

   /* form button {
     width: 0%;
   } */

  /* .auth form {
    height: 55%;
    width: 80%;
  }

  form button {
    width: 80%;
  } */
}